/*
 * Created on 2018-04-14 ( Time 21:52:32 )
 * Generator tool : Telosys Tools Generator ( version 3.0.0 )
 * Copyright 2018 Geo. All Rights Reserved.
 */

package ${target.javaPackageFromFolder(${SRC})};

/**
 * 
 * @author Geo
 *
 */
 public enum FunctionalityEnum {
 	DEFAULT("DEFAULT"),

#set ($count = $selectedEntities.size())
#set ($index = 0)
#foreach( $entity in $selectedEntities )
#set ($index = $index + 1)
#set ($entity_name = ${fn.toUpperCase($entity.databaseTable)})
	// ${entity_name}
	VIEW_${entity_name}("VIEW_${entity_name}"),	
	CREATE_${entity_name}("CREATE_${entity_name}"),
	UPDATE_${entity_name}("UPDATE_${entity_name}"),
	DELETE_${entity_name}("DELETE_${entity_name}")#if ($index != $count),#else;#end

#end

	private final String value;
 	public String getValue() {
 		return value;
 	}
 	private FunctionalityEnum(String value) {
 		this.value = value;
 	}
}
