#---------------------------------------------------------
# Templates configuration file
# Values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 4 : the template to use
# . value 5 : number of execution : "1" for "ONCE" for all entities, default is multiple executions ( executed for each entity )
#---------------------------------------------------------
# Since v 2.0 the project's variables can be used in file and folder name
#---------------------------------------------------------

Pom       					        ; pom.xml    								    ;  				  	      							    ; maven/pom.vm    			   								        ;	1

Criteria Utils       		        ; CriteriaUtils.java    					    ; ${SRC}/${ROOT_PKG}/utils 				  	            ; utils/criteria_utils.vm    			   							;	1
Exception Utils       		        ; ExceptionUtils.java    					    ; ${SRC}/${ROOT_PKG}/utils 				  	            ; utils/exception_utils.vm    			  					        ;	1
Math Utils       			        ; MathUtils.java    						    ; ${SRC}/${ROOT_PKG}/utils 				  	            ; utils/math_utils.vm    			   	   							;	1
Functional Error       		        ; FunctionalError.java    					    ; ${SRC}/${ROOT_PKG}/utils 				  	            ; utils/functional_error.vm    			   					        ;	1
Technical Error       		        ; TechnicalError.java    					    ; ${SRC}/${ROOT_PKG}/utils 				  	            ; utils/technical_error.vm    			   					        ;	1
Status      				        ; Status.java    							    ; ${SRC}/${ROOT_PKG}/utils 				  	            ; utils/status.vm    			   		   							;	1
Status Code       			        ; StatusCode.java    						    ; ${SRC}/${ROOT_PKG}/utils 				  	            ; utils/status_code.vm    			   	   					        ;	1
Status Message       		        ; StatusMessage.java    					    ; ${SRC}/${ROOT_PKG}/utils 				  	            ; utils/status_message.vm    			   							;	1
Utilities       			        ; Utilities.java    						    ; ${SRC}/${ROOT_PKG}/utils 				  	            ; utils/utilities.vm    			       							;	1
ParamsUtils       			        ; ParamsUtils.java    						    ; ${SRC}/${ROOT_PKG}/utils 				  	            ; utils/params_utils.vm    			       							;	1
Validate       				        ; Validate.java    							    ; ${SRC}/${ROOT_PKG}/utils 				  	            ; utils/validate.vm    			           					        ;	1

Business Factory    		        ; BusinessFactory.java    					    ; ${SRC}/${ROOT_PKG}/business/fact 				  	    ; business_fact/business_factory.vm    			        			;	1

Rest Interceptor    		        ; RestInterceptor.java    					    ; ${SRC}/${ROOT_PKG}/rest 				  			    ; rest/rest_interceptor.vm    			        					;	1
Web Mvc Config    			        ; WebMvcConfig.java    						    ; ${SRC}/${ROOT_PKG}/rest 				  			    ; rest/web_mvc_config.vm    			        				    ;	1
Controller Factory    		        ; ControllerFactory.java    				    ; ${SRC}/${ROOT_PKG}/rest/fact 				  		    ; rest/controller_factory.vm    			        				;	1

Operator Enum       		        ; OperatorEnum.java    						    ; ${SRC}/${ROOT_PKG}/utils/enums 				  	    ; utils_enum/operator_enum.vm    			   					    ;	1
Extension Enum       		        ; ExtensionEnum.java    					    ; ${SRC}/${ROOT_PKG}/utils/enums 				  	    ; utils_enum/extension_enum.vm    			   					    ;	1
Status Enum                         ; StatusEnum.java                               ; ${SRC}/${ROOT_PKG}/utils/enums                        ; utils_enum/status_enum.vm                                         ;   1

IBasic Business       		        ; IBasicBusiness.java    					    ; ${SRC}/${ROOT_PKG}/utils/contract 				    ; utils_contract/ibasic_business.vm    			    		        ;	1
IController       			        ; IController.java    						    ; ${SRC}/${ROOT_PKG}/utils/contract 				    ; utils_contract/icontroller.vm    			    		            ;	1
Full Transformer Qualifier          ; FullTransformerQualifier.java    			    ; ${SRC}/${ROOT_PKG}/utils/contract 				    ; utils_contract/full_transformer_qualifier.vm    			        ;	1
Request       				        ; Request.java    							    ; ${SRC}/${ROOT_PKG}/utils/contract 				    ; utils_contract/request.vm    			            		        ;	1
Request Base    			        ; RequestBase.java    						    ; ${SRC}/${ROOT_PKG}/utils/contract 				    ; utils_contract/request_base.vm    			        			;	1
Response    				        ; Response.java    							    ; ${SRC}/${ROOT_PKG}/utils/contract 				    ; utils_contract/response.vm    			       	    			;	1
Response Base    			        ; ResponseBase.java    						    ; ${SRC}/${ROOT_PKG}/utils/contract 				    ; utils_contract/response_base.vm    			    			    ;	1
Search Param    			        ; SearchParam.java    						    ; ${SRC}/${ROOT_PKG}/utils/contract 				    ; utils_contract/search_param.vm    			        			;	1

Error Message    			        ; errorMessage.properties    				    ; ${RES} 				  			  				    ; resources/error_message.vm    			        			    ;	1
Error Message en    		        ; errorMessage_en.properties    			    ; ${RES} 				  			  				    ; resources/error_message_en.vm    			        				;	1
Error Message fr    		        ; errorMessage_fr.properties    			    ; ${RES} 				  			  				    ; resources/error_message_fr.vm    							        ;	1

Application properties    	        ; application.properties    				    ; ${RES}/filtered 				  			  		    ; resources_filtered/application_properties.vm    				    ;	1
Application properties local        ; application-local.properties    			    ; ${RES}/filtered 				  			  		    ; resources_filtered/application_properties_local.vm    	        ;	1
Application properties dev          ; application-dev.properties    			    ; ${RES}/filtered 				  			  		    ; resources_filtered/application_properties_dev.vm    			    ;	1
Application properties stag         ; application-staging.properties    		    ; ${RES}/filtered 				  			  		    ; resources_filtered/application_properties_staging.vm    			;	1
Application properties prod         ; application-production.properties    		    ; ${RES}/filtered 				  			  		    ; resources_filtered/application_properties_production.vm    		;	1